@charset "utf-8";
/* CSS Document */

a.back{ 
	font-weight:bold;
}

h2{
	color:#009900;
}

div.data
{
 margin-top:20px;
 text-align:left;
 width:300px;
 border-color:rgb(155,176,107);
 border-width:1px;
 border-style:solid;
 background-color:#F9F9F9;
 padding:10px 30px 10px 30px;
}

div.data p
{
 margin-left:3px;
 padding-top:5px;
 padding-bottom:5px;
 cursor:default;
}

div.data p label
{
 font-weight:bold;
 color:#688E23;
 text-transform:lowercase;
}