@charset "utf-8";
/* CSS Document */

.uppercase 
{
  text-transform: uppercase;
}

div#menu a#active_strains
{
 color:rgb(183,104,62);
}

#saveas_link
{
 word-spacing: 0px;
}
#tab_coll_event
{
 word-spacing: 2px;
}

.sicol_green_label
{
color: #688E23;
font-weight: bold;
font-style: normal;
}

.form_info,p label
{
font-style: normal;
}

.total_ampoules
{
padding: 10px;
text-align:center;
font-style: normal;
}

.ifrm_quality
{
	width: 100%;
}

.ifrm_stock
{
	width: 100%;
}

.ampoules_information
{
	padding: 10px;
}